#CORS
CORS_ORIGIN = 

#EXPRESS
EXPRESS_PORT = 

#NODEMAILER
NODEMAILER_HOST = 
NODEMAILER_PORT = 
NODEMAILER_SECURE = 
NODEMAILER_USER = 
NODEMAILER_PASS = 

#POSTGRE
POSTGRE_USER = 
POSTGRE_HOST =  
POSTGRE_DATABASE = 
POSTGRE_PASSWORD = 
POSTGRE_PORT = 

#SYSTEM
SHOW_DEBUG_INFO = 
WEB_BASE_URL = 